@font-face {
  font-family: "Bront";
  src: url("../fonts/Bront.woff2") format("woff2");
}

/** Day/Night */
:root,
:root[data-theme="light"] {
  --text-color: black;
  --bg-color: white;
}
:root[data-theme="dark"] {
  --text-color: white;
  --bg-color: black;
}
@media (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    --text-color: white;
    --bg-color: black;
  }
}

body {
  transition: background-color 1s ease, color 0.25s ease;
}

section {
  margin-top: 8px;
  padding: 4px;
}

ul {
  padding: 1em;
}

h1 {
  text-align: center;
}
body {
  font-family: "Bront", sans-serif;
  color: var(--text-color);
  background-color: var(--bg-color);

  max-width: 320px;
  margin: auto;
}

hr {
  border-color: var(--text-color);
}
p {
  border-left: 2px solid var(--text-color);
  padding-left: 8px;
}

dl dt:not(:first-child) {
  margin-top: 20px;
}
dl dt {
  font-weight: bold;
  margin-bottom: 4px;
}
dl dd {
  font-size: 1em;
  margin-left: 20px;
}

footer {
  margin: 20px auto;
}
.socials {
  text-align: center;
}
.socials a {
  margin: 8px;
  text-decoration: none;
}
.socials img {
  width: 32px;
  height: auto;
}
.socials .github-logo {
  filter: none;
}
@media (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) .socials .github-logo {
    filter: invert(100%);
  }
}
:root[data-theme="dark"] .socials .github-logo,
:root:not([data-theme="light"]) .socials .github-logo {
  filter: invert(100%);
}
